@charset "UTF-8";

body{
    
    background: url(imagens/pexels-pixabay-235985.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    
    
}

header{
    width: 100vw;
    font: normal 10pt black;
    text-align: center;
    border-radius: 15px;
   
    
  }

header > img{
border-radius: 35%;
width: 200px;
height: 200px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.151);


}

div#social{
    text-align: center;
    padding-top: 10px;
        
}

div#social img{
    width: 70px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.151);
    box-sizing: border-box;
}
div#social img:hover{
    border: 2px solid rgba(0, 0, 0, 0.637);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
    transition: transform .5s, border 1s;

}


div#cv{
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font: bolder 20pt arial;
  
   
 }

 div#cv > a{
    text-decoration: none;
    font: bolder 15pt arial;
        color: rgb(14, 41, 117);
 }

div#cv > a:hover {
    transform: translate(-5px, -5px);
    transition: transform .5s, border 1s;
    color: rgb(255, 255, 255)
}

h1{
    text-align: center;
    color: rgb(14, 41, 117);
    padding-top: 10px;
    
}

header > h1{
    
    color: rgb(14, 41, 117);
     margin-top: 20px;  /* Distância do topo da página */
    text-align: center;  /* Centraliza o título */
    font-size: 2.5rem;  /* Tamanho do título */
}

main{
    width: 100vw;
   
}


div#info{
     height: 100%;
     margin: 0;
    justify-items: center;  /* Alinha o conteúdo horizontalmente ao centro */     
    text-align: justify; 
    text-indent: 10px;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.308);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    padding-bottom: 10px;
}




div#info > ul{
    columns: 1;
    list-style: none;
}
h2{
    text-align: center;
    color: rgb(21, 62, 175);
}
div#exp{
    justify-items: center;
    text-indent: 10px;
    text-align: left;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.308);
    border-radius: 15px;
    list-style: inside ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    padding-bottom: 10px;  
}

div#exp > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 1;
}

section{
    margin: auto;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.308);
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    border-radius: 15px;
    padding-bottom: 15px;
}
table{
    margin: auto;
    width: 40vw;
    border-collapse: collapse;
    
}
td, th{
    border: 1px solid black;
    padding: 8px;
    text-align: center; /* Alinhamento Horizontal*/
    vertical-align: middle;/* Alinhamento Vertical.*/
}

th{
    color: white;
    background-color:  rgb(21, 62, 175);;
}
tr:nth-child(odd) {
    background-color: rgba(163, 163, 163, 0.473);
}

div#hab{
    justify-items: center;
    text-indent: 10px;
    text-align: justify;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.308);
    border-radius: 15px;
    list-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    padding-bottom: 10px;  
}


div#hab > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    
}

div#comp{
   justify-items: center;
    text-indent: 10px;
    text-align: justify;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.308);
    border-radius: 15px;
    list-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    padding-bottom: 10px;
    
}

.lista-3-colunas {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 3 colunas de largura igual */
      gap: 10px;
      list-style-type: disc;
      padding-left: 20px;
    }

    .lista-3-colunas li {
      margin-bottom: 8px;
       
    }


div#comp > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 1;
}




div#mfinal{
    justify-items: center;
    text-indent: 10px;
    text-align: left;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.308);
    border-radius: 15px;
    list-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    padding-bottom: 10px;
}

div#mfinal > p{
    padding: 10px;
}


footer{
    
    text-align: center;
    font: normal 15pt arial;
    background-color: rgba(211, 211, 211, 0.308);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    }
    