@charset "UTF-8";

body{
    margin: auto;
    padding: 10px;
    background: url(imagens/pexels-david-skyrius-2129796.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

header{
    
    font: normal 10pt black;
    text-align: center;
    border-radius: 15px;
   
    
  }

header > img{
border-radius: 35%;
width: 200px;
height: 200px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.151);


}

div#social{
    text-align: right;
        
}

div#social img{
    width: 70px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.151);
    box-sizing: border-box;
}
div#social img:hover{
    border: 2px solid rgba(0, 0, 0, 0.637);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
    transition: transform .5s, border 1s;

}


div#cv{
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font: bolder 20pt arial;
  
   
 }

 div#cv > a{
    text-decoration: none;
    font: bolder 15pt arial;
    color: rgb(255, 255, 255)
 }

div#cv > a:hover {
    transform: translate(-5px, -5px);
    transition: transform .5s, border 1s;
    color: green;
}

h1{
    text-align: center;
    color: rgb(14, 41, 117);
    padding-top: 10px;
    
}

header > h1{
   
     color: rgb(255, 255, 255);
}

div#info{
    text-indent: 10px;
    text-align: center;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.600);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    width: 98vw;
}

div#info > ul{
    columns: 2;
    list-style: none;
}
h2{
    text-align: center;
    color: rgb(21, 62, 175);
}
div#exp{
    width: 98vw;
    text-indent: 10px;
    text-align: center;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.600);
    border-radius: 15px;
    list-style: inside ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    padding-bottom: 10px;  
}

div#exp > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

section{
    width: 98vw;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.600);
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    border-radius: 15px;
    padding-bottom: 10px;
}
table{
    margin: auto;
    width: 80vw;
    border-collapse: collapse;
    
}
td, th{
    border: 1px solid black;
    padding: 8px;
    text-align: center; /* Alinhamento Horizontal*/
    vertical-align: middle;/* Alinhamento Vertical.*/
}

th{
    color: white;
    background-color:  rgb(21, 62, 175);;
}
tr:nth-child(odd) {
    background-color: rgba(163, 163, 163, 0.473);
}

div#hab{
    width: 98vw;
    text-indent: 10px;
    text-align: justify;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.600);
    border-radius: 15px;
    list-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    padding-bottom: 10px;  
}


div#hab > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

div#comp{
    width: 98vw;
    text-indent: 10px;
    text-align: center;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.600);
    border-radius: 15px;
    list-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    padding-bottom: 10px;
}
div#comp > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 3;
}

div#hob{
    width: 98vw;
    text-indent: 10px;
    text-align: center;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.600);
    border-radius: 15px;
    list-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    padding-bottom: 10px;
}
div#hob > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 3;
}

div#mfinal{
    width: 98vw;
    text-indent: 10px;
    text-align: justify;
    font: normal 15pt black;
    background-color: rgba(211, 211, 211, 0.600);
    border-radius: 15px;
    list-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    padding-bottom: 10px;
}

div#mfinal > p{
    padding: 10px;
}


footer{
    width: 98vw;
    text-align: center;
    font: normal 15pt arial;
    background-color: rgba(211, 211, 211, 0.600);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    }
    